<!DOCTYPE html>
<html>
<%- include('./partials/_head') %>
<body>
      <% if(user != undefined) { %>
        <%- include('./partials/_headerLogueado')%>
      <% } else { %>
        <%- include('./partials/_headerDeslogueado')%>
      <% } %>
        <div class="uk-section uk-section-xsmall">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center contenido">
                <section class="uk-flex uk-width-2-3 detalle-container">
                    <article class="posteo">
                        <img src="/images/posteos/<%= posteo.imagenPosteo %>" alt="Imagen del post">
                        <h5><%= posteo.piePublicacion %></h5>
                    </article>
                    <article class="uk-width-2-3 uk-flex uk-flex-column infoPost">
                        <div class="infoPrincipal">
                            <div class="infoConstante">
                                <img src="/images/foto_perfil_usuarios/<%= posteo.usuario_posteo.imagenPerfil %>" class="imgUsuario" alt="Foto del usuario">
                                <h3 class="usuario"><a href="/detalleusuario/<%= posteo.usuario_posteo.id %>"><%= posteo.usuario_posteo.nombreUsuario %></a></h3>
                            </div>
                            <!-- Botones para editar -->
                            <% if( user !== null ) { %>
                                <% if( user.id === posteo.usuario_posteo.id ) { %>
                                    <form class="infoModificar" action="/detallePost/eliminar/<%= posteo.id %>" method="post">                                   
                                            <button type="submit" class="boton"><i class="fas fa-times"></i></button>
                                    </form>
                                    <a href="/detallePost/modificar/<%= posteo.id %>"><i class="fas fa-pen"></i></a>
                                <% } %>
                            <% } %>
                        </div>
                        <!-- Lista de comentarios -->
                        <div class="listaComentarios">
                            <% for( let i = 0; i < posteo.comentarios_posteo.length; i++ ) { %>
                                <div class="individual">
                                    <div>
                                        <h6 class="uk-margin-remove uk-width-2-4"><a href="/detalleusuario/<%= posteo.comentarios_posteo[i].usuario_comentario.id %>"><%= posteo.comentarios_posteo[i].usuario_comentario.nombreUsuario %></a></h6>
                                        <p><%= posteo.comentarios_posteo[i].comentario %></p>
                                    </div>
                                    <a id="like" href="" uk-icon="icon:heart; ratio: 0.8" class="uk-width-1-4 uk-text-right icono-meGusta"></a>
                                </div>
                            <% } %>
                        </div>
                        <!-- Formulario para comentar -->
                        <form action="/detallePost/<%= posteo.id %>" method="post">
                            <div class="agregarComentario">
                                <input type="text" class="uk-input texto" placeholder="Agregar comentario" name="nuevoComentario">
                                <button class="uk-button uk-button-primary comentar" type="submit">Comentar</button>
                            </div>
                        </form>
                    </article>
                </section>
            </div>
        </div>
    <%- include('./partials/_footer') %>
</body>
</html>