<!DOCTYPE html>
<html>
<%- include('./partials/_head') %>
<body>
    <%- include('./partials/_headerLogueado')%>
    <div class="uk-section">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="uk-container uk-container-small uk-flex uk-flex-column uk-flex-middle uk-flex-center">
                <div id="image" uk-form-custom="target: true">
                    <input type="file" id="imagenPerfil" accept="image/png, .jpeg, .jpg, video/mp4, .mov, .avi">
                    <img src="/images/foto_perfil_usuarios/<%= usuario.imagenPerfil %> " alt="" class="foto-perfil">
                </div>
            </div>
            <div id="caja-contenedora-superpuesta" hidden>
                <div id="caja-contenedora-superpuesta-interna">
                    <div id="editor"></div>
                    <canvas id="preview"></canvas>
                    <div class="uk-margin">
                        <div id="botones-foto" class="uk-form-controls uk-flex uk-flex-around">
                            <button type="button" id="button-close" class="uk-icon-button uk-margin-small-right uk-button-danger"><span
                                    uk-icon="close"></span></button>
                            <button type="button" id="button-check" class="uk-icon-button uk-margin-small-right uk-button-primary"><span
                                    uk-icon="check"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin-top uk-flex uk-flex-around" id="caja">
                <div class="uk-container uk-width-large">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Nombre de usuario</label>
    
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" name="nombreUsuario" placeholder="@<%= usuario.nombreUsuario %>">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Nombre</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" name="nombre" placeholder="<%= usuario.nombre %>">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Apellido</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" name="apellido" placeholder="<%= usuario.apellido %>">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" name="email" placeholder="<%= usuario.email %>"
                                >
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Fecha de nacimiento</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="fecNac" type="text" name="fecNac" placeholder="<%= usuario.fecNac %>" onfocus="(this.type='date')">
                            <!-- fechaNacimiento debe ser tipo date (01-01-2002) -->
                        </div>
                    </div>
                </div>
                <div class="uk-container uk-width-large">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Contraseña actual</label>
                        <div class="uk-form-password">
                            <input class="uk-input" id="passwordA" type="password" name="contraseniaActual" required>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Nueva contraseña</label>
                        <div class="uk-form-password">
                            <input class="uk-input" id="password1" type="password" name="nuevaContrasenia1" required>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Repetir contraseña</label>
                        <div class="uk-form-password">
                            <input class="uk-input" id="password2" type="password" name="nuevaContrasenia2" required>
                        </div>
    
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-controls uk-flex uk-flex-around">
                            <button id="reset" class="uk-button uk-button-danger uk-width-small" type="reset"><span
                                    uk-icon="trash"></span></button>
                            <button class="uk-button uk-button-primary uk-width-small">guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <%- include('./partials/_footer') %>
</body>
</html>