<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/_head') %> <!-- no olvidar la variable style del head -->
  <body>
    <%- include('./partials/_headerDeslogueado')%>
    <div class="uk-section uk-section-small">
      <div class="uk-container uk-container-large uk-flex">
        <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
          <% for(let i = 0; i < posteos.length; i++) { %>
            <article class="post uk-card-default uk-flex uk-flex-column">
              <div class="info-usuario">
                <div class="uk-margin uk-flex">
                  <img src="images/<%= usuarios[i].fotoDePerfil %>" alt="" id="foto-perfil"> <!-- foto de perfil -->
                  <h4><a href="/detalleUsuario/id/<%= usuarios[i].id %>"><%= usuarios[i].usuario %></a></h4> <!-- detalle usuario -->
                </div>
                <div class="post-body uk-flex uk-flex-center">
                  <a href="/detallePost/id/<%= posteos[i].id %>"><img src="images/<%= posteos[i].imagen %>" alt=""></a> <!-- detalle posteo -->
                </div>
                <div class="post-reacciones">
                  <ul class="post-icons uk-flex uk-flex-around">
                    <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span></li>
                    <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span></li>
                  </ul>
                  <div class="post-pie uk-flex">
                    <h5><a href="/detalleUsuario/id/<%= usuarios[i].id %>"><%= usuarios[i].usuario %></a></h5> <!-- detalle usuario -->
                    <p><%= posteos[i].pieDeImagen %></p> <!-- pie de foto -->
                  </div>
                </div>
                <div class="post-comentarios">
                  <h6>Comentarios</h6>
                  <ul>
                    <div class="post-comentarios-reducido-escondido" id="caja-comentarios-reducida">
                      <% for(let j = 0; j < 2; j++) { %>
                        <li>
                          <a href="/detalleUsuario/id/<%= usuarios[j].id %>"><%= usuarios[j].usuario %></a> <!-- detalle usuario -->
                          <p><%= comentarios[j].comentario %></p> <!-- comentario -->
                        </li>
                      <% } %>
                      <% if( comentarios.length > 2) { %> 
                        <button type="button" class="uk-button uk-button-small" id="btn-verMas">ver más</button>
                      <% } %>
                    </div>
                    <div class="post-comentarios-extendido" id="caja-comentarios-extendida">
                      <!-- Para poder mostrar todos los comentarios es necesario cambiar la clase del div, quitandole la palabra "-escondido"
                      Debería quedar así class="post-comentarios-extendido". De esta manera se mostrarán los comentarios faltantes y para ocultar
                      los dos comentarios anteriores con su respectivo btn-verMas será class="post-comentarios-reducido-escondido" -->
                      <% for(let j = 0; j < 4; j++) { %>
                        <li>
                          <a href="/detalleUsuario/id/<%= usuarios[j].id %>"><%= usuarios[j].usuario %></a> <!-- detalle usuario -->
                          <p><%= comentarios[j].comentario %></p> <!-- comentario -->
                        </li>
                      <% } %> 
                      <button type="button" class="uk-button uk-button-small" id="btn-verMenos">ver menos</button>
                    </div>
                  </ul>
                </div>
              </div>
            </article>
          <% } %>
        </section>
      </div>
    </div>
    <%- include('./partials/_footer')%>
  </body>
</html>