<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/_head') %>
  <body>
      <% if(user != undefined) { %>
        <%- include('./partials/_headerLogueado')%>
      <% } else { %>
        <%- include('./partials/_headerDeslogueado')%>
      <% } %>
      <div class="uk-section uk-section-small" id="posts-card">
        <div class="uk-container uk-container-large uk-flex">
          <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
            
            <% posteos.forEach( data => { %>
              <article class="post uk-card-default uk-flex uk-flex-column">
                <div class="info-usuario">
                  
                  <div class="uk-margin uk-flex">
                    <img src="/images/foto_perfil_usuarios/<%= data.usuario_posteo.imagenPerfil %>" alt="" id="foto-perfil">
                    <h4><a href="/detalleUsuario/<%= data.usuario_posteo.id %>"><%= data.usuario_posteo.nombreUsuario %></a></h4>
                  </div>
  
                  <div class="post-body uk-flex uk-flex-center">
                    <a href="/detallePost/<%= data.id %>"><img src="/images/posteos/<%= data.imagenPosteo %>" alt=""></a>
                  </div>
                  
                  <div class="post-reacciones">
                    
                    <ul class="post-icons uk-flex uk-flex-around">
                      <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span></li>
                      <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span></li>
                    </ul>
  
                    <div class="post-pie uk-flex">
                      <h5><a href="/detalleUsuario/<%= data.usuario_posteo.id %>"><%= data.usuario_posteo.nombreUsuario %></a></h5>
                      <p><%= data.piePublicacion %></p>
                    </div>

                  </div>
  
                  <div class="post-comentarios">
                    <h6>Comentarios</h6>

                    <% if(data.comentarios_posteo.length > 0) { %>
                      <div class="comentarios-xs">
                        <ul>
                          <% for(let i = 0; i < 2; i++) { %>
                            <li>
                              <a href="/detalleUsuario/<%= data.comentarios_posteo[i].usuario_comentario.usuarioId %>"><%= data.comentarios_posteo[i].usuario_comentario.nombreUsuario %></a>
                              <p><%= data.comentarios_posteo[i].comentario %></p>
                            </li>
                          <% } %>
                        </ul>
                        <button><a href="/detallePost/<%= data.id %>">Ver más</a></button>
                      </div>
                    <% } else { %>
                      <p>¡Aún no hay comentarios</p>
                    <% } %>                 
                  </div>
                </div>
              </article>
            <% }) %>
          </section>
        </div>
      </div>
      <%- include('./partials/_footer')%>
  </body>
</html>